.App{
  justify-content: space-evenly;
  transition: revert;
  text-align: center;
  display: flex;
}

.btndv{

  text-align: center;
  justify-content: center;
  display: flex;
  margin-left: 27px;

}

.dvinp{

  
  background: aliceblue;
  height: 160px;
  border-radius: 20px;

}